/* miniprogram/pages/me/me.wxss */
.user-container{
    text-align: center;
  }
  .avatar{
    width: 200rpx;
    height: 200rpx;
    border-radius: 50%;
  }
  .footer{
    margin-top: 80rpx;
  }
  .at-button{
    margin-top: 40rpx;
  }